
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>測測你的社群媒體 BGM</title>
        <link rel="stylesheet" type="text/css" href="../public/css/ver2.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/ver2.css"/> 
    </head>
    <body>
        <div class="index-box">
            <div class="title-box">
                <img src="../public/img-ver2/logo-blue.png">
                <p>
                    你聽過音樂偏好心理學嗎？<br>
                    心理學家認為人們對音樂的喜好選擇會受到個人特質的影響，讓我們透幾則社群媒體貼文跟留言來尋找你的社群媒體BGM吧～
                </p>
            </div>

            <div class="form-box">
                <form action= "/Q-ALL" method="POST">
                    <input type="number" name="age" placeholder="輸入年齡" min="0" max="100"/>
                    <!-- <input type="text" name="sex" placeholder="輸入性別">    -->
                    <input type="text" id="gender" name="gender" list="gender-options" placeholder="輸入性別">
        
                    <datalist id="gender-options">
                        <option value="男性">
                        <option value="女性">
                        <option value="其他">
                    </datalist>

                    <button type="submit" >登錄</button>
                </form>
                <a href="#">忘記密碼</a>
                <hr>
                <div class="create-btn">
                <a href="#">建立新帳號</a>
                </div>
            </div>
        </div>
    </body>
</html>