<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>測測你的社群媒體 BGM</title>
        <link rel="stylesheet" type="text/css" href="../public/css/rwd_v1.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/rwd_v1.css"/>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    </head>
    <body>
        <div class="container">
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="../public/spy.jpeg" alt="logo"/>
                        <div>
                            <p>網紅蛛</p>
                            <span>Jun 21 2021, 3:40</span>
                        </div>
                    </div>
                    <a href="#">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                </div>
                <p class="post-text">
                    夭壽哦！蚵仔很大顆。<br>
                    原來都加磷酸鹽。<br>
                    難怪常看到斗六很多人中風。<br>
                    因為磷酸鹽會讓血管鈣化 ！ <br>
                    請大家注意。
                </p>
                <!-- <div class="post_options_v1">
                    <div class="activity-icons">
                        <div>
                            <img src="../public/like-blue.png">
                            讚
                        </div>
                        <div>
                            <img src="../public/comments.png">
                            留言
                        </div>
                        <div>
                            <img src="../public/share.png">
                            分享
                        </div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="../public/spy.jpeg" >
                        <i class="fas fa fa-caret-down"></i>
                    </div>
                </div> -->
                <div class="post_options_v2">
                    <div class="post__option">
                        <img src="../public/like-blue.png">
                        <div>讚</div>
                    </div>
        
                    <div class="post__option">
                        <img src="../public/comments.png">
                        <div>留言</div>
                    </div>
                    <div class="post__option">
                        <img src="../public/share.png">
                        <div>分享</div>
                    </div>
                </div>
                <form action= "/Q2" method="POST"> 
                    <div class="post_comments">
                        <img src="../public/1.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">多數斗六人都會中風</div>
                        <!-- <img src="../public/like-blue.png" class="post_like_img"> -->
                        <button class="like-button" type = "submit" name="Q1" value="A"></button>
                    </div>
                    <div class="post_comments">
                        <img src="../public/2.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">所有的大顆蚵仔都會加磷酸鹽</div>
                        <!-- <img src="../public/like-blue.png" class="post_like_img"> -->
                        <button class="like-button" type = "submit" name="Q1" value="B"></button>
                    </div>
                    <div class="post_comments">
                        <img src="../public/3.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">磷酸鹽攝取過量可能會造成血管鈣化</div>
                        <!-- <img src="../public/like-blue.png" class="post_like_img"> -->
                        <button class="like-button" type = "submit" name="Q1" value="C"></button>
                    </div>
                    <div class="post_comments">
                        <img src="../public/4.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">血管鈣化就一定會中風</div>
                        <!-- <img src="../public/like-blue.png" class="post_like_img"> -->
                        <button class="like-button" type = "submit" name="Q1" value="D"></button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>