<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>測測你的社群媒體 BGM</title>
        <link rel="stylesheet" type="text/css" href="../public/css/rwd_v1.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/rwd_v1.css"/>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    </head>
    <body>
        <div class="container">
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="../public/spy.jpeg" alt="logo"/>
                        <div>
                            <p>網紅蛛</p>
                            <span>Jun 21 2021, 3:40</span>
                        </div>
                    </div>
                    <a href="#">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                </div>
                <p class="post-text">
                    因為台灣防禦法，美國將增加駐台美軍至5萬人!
                </p>
                <div class="post_options_v2">
                    <div class="post__option">
                        <img src="../public/like-blue.png">
                        <div>讚</div>
                    </div>
                    <div class="post__option">
                        <img src="../public/comments.png">
                        <div>留言</div>
                    </div>
                    <div class="post__option">
                        <img src="../public/share.png">
                        <div>分享</div>
                    </div>
                </div>
                <form action= "/Q3" method="POST"> 
                    <div class="post_comments">
                        <img src="../public/1.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            美國會因為台灣的國內法，增加駐台美軍
                        </div>
                        <button class="like-button" type = "submit" name="Q2" value="A"></button>
                    </div>
                    <div class="post_comments">
                        <img src="../public/2.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            美國怎麼可能因為台灣國內法增加駐軍
                        </div>
                        <button class="like-button" type = "submit" name="Q2" value="B"></button>
                    </div>
                    
                </form>
            </div>
        </div>
    </body>
</html>