<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>測測你的社群媒體 BGM</title>
        <link rel="stylesheet" type="text/css" href="../public/css/rwd_v1.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/rwd_v1.css"/>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    </head>
    <body>
        <div class="container">
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="../public/spy.jpeg" alt="logo"/>
                        <div>
                            <p>網紅蛛</p>
                            <span>Jun 21 2021, 3:40</span>
                        </div>
                    </div>
                    <a href="#">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                </div>
                <p class="post-text">
                    台灣花6億美元向美國買4架型號MQ-9B無人機，<br>
                    西方媒體爆出MQ-9B無人機售價3千萬美元，<br>
                    美賣台灣同型號竟為1.5億美元，<br>
                    花費五倍價錢!!
                </p>

                <div class="post_options_v2">
                    <div class="post__option">
                        <img src="../public/like-blue.png">
                        <div>讚</div>
                    </div>
        
                    <div class="post__option">
                        <img src="../public/comments.png">
                        <div>留言</div>
                    </div>
        
                    <div class="post__option">
                        <img src="../public/share.png">
                        <div>分享</div>
                    </div>
                </div>
                <form action= "/Q4" method="POST"> 
                    <div class="post_comments">
                        <img src="../public/1.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            我們以低於五倍的價格買到無人機！
                        </div>
                        <button class="like-button" type = "submit" name="Q3" value="A"></button>
                    </div>
                    <div class="post_comments">
                        <img src="../public/2.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            美國竟然用高於市價的價格賣台灣戰機！
                        </div>
                        <!-- <img src="../public/like-blue.png" class="post_like_img"> -->
                        <button class="like-button" type = "submit" name="Q3" value="B"></button>
                    </div>
                    
                    
                </form>
            </div>
        </div>
    </body>
</html>