<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>測測你的社群媒體 BGM</title>
        <link rel="stylesheet" type="text/css" href="../public/css/rwd_v1.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/rwd_v1.css"/>
    </head>
    <body>
        <div class="container">
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="../public/spy.jpeg" alt="logo"/>
                        <div>
                            <p>網紅蛛</p>
                            <span>Jun 21 2021, 3:40</span>
                        </div>
                    </div>
                    <a href="#">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                </div>
                <p class="post-text">
                    聯合國及世界衛生組織和世界各國研究機構公布了許多新的研究成果，<br>
                    我們據此列出10個長壽方法，簡單易學，大家一定要看一看！<br>
                    1、唱歌 2、跑步 3、不要久坐 4、吃薑黃 5、減少攝取熱量
                    6、吃綠葉菜7、擁抱 8、吃花椰菜 9、睡眠質量 10、早睡 
                </p>
        
                <div class="post_options_v2">
                    <div class="post__option">
                        <img src="../public/like-blue.png">
                        <div>讚</div>
                    </div>
        
                    <div class="post__option">
                        <img src="../public/comments.png">
                        <div>留言</div>
                    </div>
        
                    <div class="post__option">
                        <img src="../public/share.png">
                        <div>分享</div>
                    </div>
                </div>
                <form action= "/Q5" method="POST"> 
                    <div class="post_comments">
                        <img src="../public/1.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            媒體真的提供很多好方法呢，實用！！
                        </div>
                        <button class="like-button" type = "submit" name="Q4" value="A"></button>
                    </div>
                    <div class="post_comments">
                        <img src="../public/2.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            聯合國及世界衛生組織有在認真做研究欸，很棒。
                        </div>
                        <button class="like-button" type = "submit" name="Q4" value="B"></button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>