<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>測測你的社群媒體 BGM</title>
        <link rel="stylesheet" type="text/css" href="../public/css/rwd_v1.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/rwd_v1.css"/>
    </head>
    <body>
        <div class="container">
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="../public/spy.jpeg" alt="logo"/>
                        <div>
                            <p>網紅蛛</p>
                            <span>Jun 21 2021, 3:40</span>
                        </div>
                    </div>
                    <a href="#">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                </div>
                <p class="post-text">
                    大家看清楚了!<br>
                    鄧長富和石靜文分別代表「華視文化」、<br>
                    「天下雜誌」及「天下文化」出席兩岸媒體人峰會，<br>
                    這些媒體已經被中國徹底收編，<br>
                    是 100% 的統媒。<br>
                </p>
                <div class="post_options_v2">
                    <div class="post__option">
                        <img src="../public/like-blue.png">
                        <div>讚</div>
                    </div>
                    <div class="post__option">
                        <img src="../public/comments.png">
                        <div>留言</div>
                    </div>
                    <div class="post__option">
                        <img src="../public/share.png">
                        <div>分享</div>
                    </div>
                </div>
                <form action= "/Q6" method="POST"> 
                    <div class="post_comments">
                        <img src="../public/1.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            鄧長富曾是「華視文化」的董事長
                        </div>
                        <button class="dislike-button" type = "submit" name="Q5" value="A"></button>
                    </div>
                    <div class="post_comments">
                        <img src="../public/2.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            石靜文曾是「天下雜誌」的顧問
                        </div>
                        <button class="dislike-button" type = "submit" name="Q5" value="B"></button>
                    </div>
                    <div class="post_comments">
                        <img src="../public/3.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            「華視文化」、「天下雜誌」及「天下文化」都是 100% 的統媒
                        </div>
                        <button class="dislike-button" type = "submit" name="Q5" value="C"></button>
                    </div>
                    <div class="post_comments">
                        <img src="../public/4.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            鄧長富跟石靜文出席了兩岸媒體人峰
                        </div>
                        <button class="dislike-button" type = "submit" name="Q5" value="D"></button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>