<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>測測你的社群媒體 BGM</title>
        <link rel="stylesheet" type="text/css" href="../public/css/rwd_v1.css"/>
        <link rel="stylesheet" type="text/css" href="/public/css/rwd_v1.css"/>
    </head>
    <body>
        <div class="container">
            <div class="post-container">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="../public/spy.jpeg" alt="logo"/>
                        <div>
                            <p>網紅蛛</p>
                            <span>Jun 21 2021, 3:40</span>
                        </div>
                    </div>
                    <a href="#">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                </div>
                <p class="post-text">
                    震驚！！！<br>
                    台灣人為賺錢，<br>
                    害人不淺，真的會造罪業！<br>
                    某知名紅茶攤的原物料違法添加人工香料香豆素，<br>
                    難怪台灣洗腎患者全球第一，<br>
                    肝不好！癌症攀升！<br>
                </p>
                <div class="post_options_v2">
                    <div class="post__option">
                        <img src="../public/like-blue.png">
                        <div>讚</div>
                    </div>
        
                    <div class="post__option">
                        <img src="../public/comments.png">
                        <div>留言</div>
                    </div>
        
                    <div class="post__option">
                        <img src="../public/share.png">
                        <div>分享</div>
                    </div>
                </div>
                <form action= "/end" method="POST"> 
                    <div class="post_comments">
                        <img src="../public/1.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            食品添加人工香精很夭壽
                        </div>
                        <button class="like-button" type = "submit" name="Q6" value="A"></button>
                    </div>
                    <div class="post_comments">
                        <img src="../public/2.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            紅茶添加香豆素會造罪業
                        </div>
                        <button class="like-button" type = "submit" name="Q6" value="B"></button>
                    </div>
                    <div class="post_comments">
                        <img src="../public/3.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            台灣洗腎患者為全球第一
                        </div>
                        <button class="like-button" type = "submit" name="Q6" value="C"></button>
                    </div>
                    <div class="post_comments">
                        <img src="../public/4.png" alt="logo" class="post_img"/>
                        <div class="speech-bubble">
                            肝不好會比較容易得癌症
                        </div>
                        <button class="like-button" type = "submit" name="Q6" value="D"></button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>